.customAlert {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;

  background-image: linear-gradient(
    0deg,
    rgba(75, 75, 75, 0.5),
    rgba(75, 75, 75, 0.5)
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-form {
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 30px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.custom-alert {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;

  background-image: linear-gradient(
    0deg,
    rgba(75, 75, 75, 0.5),
    rgba(75, 75, 75, 0.5)
  );
}
